

#header-img {
  height: 100%;
  width: 15%;
}
header {
  height: 15%;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  background: linear-gradient(to right, white, lightgreen);
  justify-content: space-between;

}
#iphone {
  display: none;
}

body {
  margin: 0;
}
.work-title {
  
}

main {
  margin-top: 10%;
  background: linear-gradient(to right, white, lightblue);
}
.section2 {
  display: flex;
  justify-content: space-evenly;
}

img {
  height: 250px;
  width: 100%;
  justify-items: center;
}

/* #left-modal {
  color: green;
  font-size: 25px;
  align-content: center;
} */

#wizard:hover {
 /* font-family: cursive;
 overflow: auto; */
 text-shadow:1px 0px #555;

}

.stock-info {
 font-family: Arial, Helvetica, sans-serif;
 
}

.comparison {
  font-family: Arial, Helvetica, sans-serif;
}

.stock-info2 {
  font-family: Arial, Helvetica, sans-serif;
}

.stock-result {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
}

#vid-gallery {
  display: flex;
  background: linear-gradient(to right, white, lightgreen);
  padding: 20px 0 20px 0;
}

.video {
  width: 48%;
  margin: 0 auto;
}

/* copied video response https://www.ostraining.com/blog/coding/responsive-videos/ */

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.stock-comparison {
  display: flex;
  justify-content: space-between;
  height: 450px;
  /* width: 100%; */
  border: 5px double #1C6EA4;

}

.stock-attributes {
    /* display: flex; */
    /* justify-content: space-between; */
    height: 450px;
    /* width: 100%; */
    border: 5px double #1C6EA4;
  
  }


footer {
  width: 100%;
  padding-top: 10px;
  background: linear-gradient(to right, white, lightblue);
}

#contact {
  text-align: center;
  padding-bottom: 10px;
}

small {
  text-align: center;
  display: block;
  background-color: #000033;
  color: white;
  padding: 10px 0 10px 0;
}

/* PICTURE TESTING */
#f1_container {
  position: relative;
  margin: 10px auto;
  width: 50%;
  height: 250px;
  /* z-index: 1;  this faded out to prevent pictures from staying on screen as you scroll */
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 50%;
  height: 50%;
  transform-style: preserve-3d;

  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

  main {
    margin-top: 35%;
  }

  #desktop {
    display: none;
  }

  #iphone {
    display: block;
  }

  .stock-comparison {
    font-size: 10px;

  }

  .stock-result {
    /* grid-template-columns: 40% 40%; */

  }

  button {
    background-color: #1C6EA4;
  }
}

#f1_card {
  height: 50%;
  transform-style: preserve-3d;
  transiton: all 1.0s linear;
  width: 100%;
}